[2020-08-15 04:21] HarshCasper opened #1 "Welcome to HakinCodes Contributor's Hack 2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the [Contributor's Hack](https://hakincodes.tech/) 💥

We are super delighted to have you onboardd for your Contributions on [Malaria Detection](https://github.com/HakinCodes/Malaria-Detection) 🙌

Here are the Mentors for the Project:

| Name 📛  |      Social Media #️⃣ |  Github 🐱‍💻 |
|----------|:-------------:|------:|
| Vish

[2020-08-15 05:53] BALaka-18 commented on #1
@HarshCasper I hope all mentors have been provided triage access. Kindly see to it once, because we need access in order to assign issues, labels and review code, plus take actions on them.
Thanks,
Balaka Biswas (@BALaka-18), Project Mentor.

[2020-08-15 07:39] HarshCasper commented on #1
I have sent invites `Maintain` Invite Access to all Mentors. Kindly check that out @BALaka-18

[2020-08-15 07:47] BALaka-18 commented on #1
@HarshCasper I have accepted. Thank you.

[2020-08-16 03:13] HarshCasper opened #2 "Create a Logo for the Application"
Currently, we need a Logo for our Application which would be used on our Web Application Interface.

<b>This Issue is open for all, and will not be assigned to anyone. People interested to work on it, can mention about their work and make a PR.</b>

Tools to be used:

- Figma
- Adobe XD
- Adobe Photoshop

Logo Designs must be added in an appropriate form on a `design/Logo-Design/` Directory. The b

[2020-08-16 03:16] HarshCasper opened #3 "Make a Contributors Guideline"
## AIM

Create Contributors Guideline to help new Contributors get started with this Project.

## Features

- Add a ```CONTRIBUTING.md``` to allow new users to get started with knowing how to contribute.
- Add Screenshots wherever possible.
- Add the basic information about creating Issues, Pull Requests and Branching.
- Mention tutorials related to Git and Github to help them better understand.

[2020-08-16 03:20] HarshCasper opened #4 "Create an Issue + Pull Request Template"
## AIM

Create a custom Issue and Pull Request Template.

## Features

- Make an Issue Template. Any new Contributor must be able to specify if it is a new script or enhancement to an older one. It should also be specified which language he is coding it in.

- Make a Pull Request Template. Any new Contributor must be able to specify if he has met all the requirements like Clean Code, proper README

[2020-08-16 03:25] HarshCasper opened #5 "Add a CODE_OF_CONDUCT.md"
## AIM

Create a Code of Conduct which all Project Administrators, Mentors and Participants must abide by.

## Details

- Mention the Standards which everyone should abide by on welcoming and inclusive language including constructive criticism.
- Add the required responsibilities for Project Maintainers.
- Mention the Scope of this Code of Conduct.

[2020-08-16 03:32] HarshCasper opened #6 "Create the Web UI Design"
## AIM

Create the Web UI Design in a widely-supported Design Software (Adobe XD/Figma).

## Details

We are currently looking for three pages:

- <b>Landing Page</b>: An attractive Landing Page which outlines the purpose of the Project and what it aims to achieve.
- <b>Input Form</b>: This form contains only one required input field, that takes an image of a Cell as input that is to be classified

[2020-08-16 03:47] AshutoshDash1999 commented on #6
can i work on this issue?
@HarshCasper

[2020-08-16 03:52] HarshCasper opened #7 "Implement a Script to create Train and Test Sets for our Dataset"
## AIM

Implement a Script to create Train and Test Sets for our Dataset

## Details

- Download the [Kaggle Dataset](https://www.kaggle.com/iarunava/cell-images-for-detecting-malaria)
- Load the Images from the Disk and scale them.
- Assign Binary Values to them and dump them to save Pre-Processing Time every time we load the Dataset.
- Split the Dataset into Training and Testing Sets.

[2020-08-16 03:54] HarshCasper opened #8 "Create Mock Endpoints in the Flask Application"
## AIM

Create Mock endpoints for our Flask Application.

## Details

We are currently looking for three pages:

- <b>Landing Page</b>: An attractive Landing Page which outlines the purpose of the Project and what it aims to achieve.
- <b>Input Form</b>: This form contains only one required input field, that takes an image of a Cell as input that is to be classified as Malarial Cell or not.
- <b>R

[2020-08-16 03:59] HarshCasper opened #9 "Create requirements.txt"
## AIM

Create a requirements text file for this project which will contain all the required libraries and frameworks for doing the data modelling.

[2020-08-16 04:03] priyanka2109 commented on #7
I would like to work on this.

[2020-08-16 04:04] AdityaAshvin commented on #9
Can I work on this @HarshCasper ?

[2020-08-16 04:06] amoghatsunil commented on #7
I would like to work on this!!

[2020-08-16 04:07] sameersrivastava13 commented on #8
@HarshCasper I would like to work on this issue.

[2020-08-16 04:08] rohangawhade commented on #7
I would like to work on this.

[2020-08-16 04:08] bolt25 commented on #7
I would like to work on this

[2020-08-16 04:08] rutujadhanawade commented on #4
I would like to work on this issue.

[2020-08-16 04:09] sameersrivastava13 commented on #9
@HarshCasper i would like to work on this issue.

[2020-08-16 04:10] Neel2904 commented on #2
@HarshCasper I would like to work on this issue

[2020-08-16 04:12] HarshCasper commented on #6
@AshutoshDash1999 You want to work on all the Pages or some specific pages?

[2020-08-16 04:12] Neel2904 commented on #3
I would like to work on this issue.

[2020-08-16 04:12] erickeagle commented on #7
I would like to work o this

[2020-08-16 04:13] Neel2904 commented on #5
I would like to work on this issue

[2020-08-16 04:13] erickeagle commented on #8
I would like to work on this issue.

[2020-08-16 04:13] erickeagle commented on #9
i would like to work on this issue.

[2020-08-16 04:14] AshutoshDash1999 commented on #6
@HarshCasper I want to create the landing page. Is there any deadline?

[2020-08-16 04:14] HarshCasper commented on #2
I have assigned you the Issue @Neel2904

You have 7 Days to work on this 🤗💥

[2020-08-16 04:15] HarshCasper commented on #9
I have assigned you the Issue @AdityaAshvin

[2020-08-16 04:16] HarshCasper commented on #4
I have assigned you the Issue @rutujadhanawade

[2020-08-16 04:17] HarshCasper commented on #7
I have assigned the Issue to you @priyanka2109

You have 7 Days to make a PR on this Issue 🤗🙌

[2020-08-16 04:19] HarshCasper commented on #3
@Neel2904 You are already assigned you one issue. I cannot assign you this until you submit a PR for the previous Issue

[2020-08-16 04:19] HarshCasper commented on #5
@Neel2904 You are already assigned you one issue. I cannot assign you this until you submit a PR for the previous Issue

[2020-08-16 04:19] HarshCasper commented on #8
I have assigned you the Issue @sameersrivastava13 ✨

You can start working on the same 🤗

[2020-08-16 04:20] Neel2904 commented on #3
Okay !!

[2020-08-16 04:23] HarshCasper commented on #6
@AshutoshDash1999 I have assigned you this Issue specifically for Landing Page. Deadline is for 7 Days.

[2020-08-16 04:39] AshutoshDash1999 commented on #6
@HarshCasper should I create my own design or wait for the designer?

[2020-08-16 04:53] HarshCasper commented on #6
@AshutoshDash1999 You are not implementing the Code here. Read the Issue again. You have to use a Designing Software to make a design for Landing Page, not actually the code. You cannot wait for the designer since you are the one.

[2020-08-16 05:00] mohit1448 commented on #5
I would like to work on this issue.

[2020-08-16 05:02] AshutoshDash1999 commented on #6
@HarshCasper I really apologize. I can't design. I want to contribute in fontend development. Can you please unassign me?

[2020-08-16 05:11] ankit3699 commented on #7
Can I start working on this issue in my branch?

[2020-08-16 05:22] TechTarun commented on #3
I would like to work on this issue.

[2020-08-16 05:27] mjay4 commented on #5
Can I work on this issue?

[2020-08-16 06:18] ritiksoni00 commented on #6
i can work on that but i will need the raw DESIGN of landing page

[2020-08-16 06:20] bhadreshpsavani commented on #5
I have assigned you the issue @mohit1448

[2020-08-16 06:23] ritiksoni00 commented on #4
i did open the issue way back

[2020-08-16 06:24] bhadreshpsavani commented on #3
I have assigned this issue to @TechTarun

[2020-08-16 06:24] ritiksoni00 commented on #4
No worries ?? misunderstanding

[2020-08-16 06:44] ashishsahu1 commented on #6
@HarshCasper can I work on this?

[2020-08-16 07:11] HarshCasper commented on #6
@ritiksoni00 According to this, you have to create the Raw Design of Landing Page on a Designing Tool like Adobe XD/Figma

@ashishsahu1 Will you be taking this up to create the designs in a Designing Software?

[2020-08-16 07:20] bhanvimenghani commented on #6
@HarshCasper I can design using figma is this issue still open?

[2020-08-16 07:29] HarshCasper commented on #6
@bhanvimenghani Can you specify which part you want to take up?

[2020-08-16 07:30] bhanvimenghani commented on #6
Whichever is left unassigned

[2020-08-16 07:52] HarshCasper commented on #6
@bhanvimenghani I have assigned you the Input Page. If you want, I can assign you for other pages as well

[2020-08-16 08:03] bhanvimenghani commented on #6
@HarshCasper ya I will do those pages as well  so that the UI looks similar.

[2020-08-16 08:39] sahanabalappa commented on #7
I would like to work on this

[2020-08-16 09:36] HarshCasper commented on #7
@ankit3699 and @sahanabalappa Issues are served on "First Come, First Serve" basis. If @priyanka2109 is not able to resolve this, other people in the thread would be assigned the Issue

[2020-08-16 09:44] architsharrma commented on #3
i would like to work on it

[2020-08-16 16:19] amandp13 commented on #2
@HarshCasper I would like to work on this issue

[2020-08-16 16:21] amandp13 commented on #7
@HarshCasper I would like to work on this issue.

[2020-08-16 16:38] sameersrivastava13 opened #20 "Updating requirements.txt file"
## Description

As i can see in the requirements.txt file added the python packages version specified are old.
I would like to update the requirements.txt file with the latest version number.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

yes.

[2020-08-16 17:17] macabdul9 commented on #20
I have assigned you the Issue @sameersrivastava13

[2020-08-16 18:20] sarthakkundra commented on #7
@amandp13 as commented by Harsh above the issues are assigned on FCFS basis. Although if the assigned person is unable to complete the work in 7 days you can request for it again. In the meantime be on the lookout for new issues or you can also create your own issue and we can approve them.

[2020-08-17 02:50] HarshCasper commented on #2
Hello @amandp13

I have assigned you this Issue. Both of your PRs would be reviewed on our part before we merge it.

[2020-08-17 02:52] #4 closed

[2020-08-17 02:55] #8 closed

[2020-08-17 02:56] #9 closed

[2020-08-17 03:02] HarshCasper opened #21 "Create a basic Setup"
## Type

Feature/Advancement

## Description

- [x] Create a Folder named `templates` which consists of three HTML Pages. Add mock HTML Code in them to serve them from the Flask App.
- [x] Create a Folder named 'Static` to serve Static Content and other Assets.
- [x] Link Style and Script to the HTML Code.

## Tools

- HTML
- CSS
- Javascript
- Python

### Have you read the [Contributing Guideline

[2020-08-17 03:55] sameersrivastava13 commented on #21
@HarshCasper i would like to work on this issue.

[2020-08-17 04:01] BALaka-18 commented on #21
@sameersrivastava13 did you complete your last assigned issue ?

[2020-08-17 04:02] sameersrivastava13 commented on #21
@BALaka-18 yeah it's over. I am generating the pull request for that.

[2020-08-17 04:04] BALaka-18 commented on #21
Okay do that, then you'll be assigned this issue.

[2020-08-17 04:11] sameersrivastava13 commented on #21
Done. Now please assign me this.

[2020-08-17 04:15] AdityaAshvin commented on #21
@HarshCasper can I work on this?

[2020-08-17 04:17] HarshCasper opened #26 "Add Github Actions to the Project"
## Type

Feature

## Description

Add Github Actions to the Project.

- [ ] Label all Issue created as `CH20`
- [ ] Greet the User creating any Issue/PR

## Tools

- Github Actions

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

### Motivation

I am literally tired adding Tags to respective Issues

[2020-08-17 04:20] sameersrivastava13 commented on #21
I already asked for it bro.

[2020-08-17 04:24] BALaka-18 commented on #21
@sameersrivastava13 assigned. You have 7 days to submit a PR.
@AdityaAshvin if Sameer needs help, we'll assign you too, you can work together. Or if he's unable to complete in the given time, we'll reconsider your request.
Ask the PA once, he is also assigning two people in some issues.

[2020-08-17 04:59] bhadreshpsavani commented on #5
I am closing this issue since code changes are merged

[2020-08-17 04:59] #5 closed

[2020-08-17 05:57] chttrjeankr commented on #26
I think I can take this up :smiley:  @HarshCasper

[2020-08-17 06:17] HarshCasper commented on #26
I have assigned it to you @chttrjeankr

[2020-08-17 06:18] BALaka-18 commented on #21
Closing this issue as it has been resolved.

[2020-08-17 06:18] #21 closed

[2020-08-17 06:20] BALaka-18 commented on #20
Closing this issue for now, as there are no further updates to be done currently.

[2020-08-17 06:20] #20 closed

[2020-08-17 07:05] HarshCasper opened #29 "Script to read the Images"
## Type

New Feature/Advancement

## Description

Create a Script that can read the Images and their label and save the Data for future purpose. Keep this Script specifically in a `/script` directory. You must also add a function that loads the Dataset. Make sure to download the dataset from [Kaggle](https://www.kaggle.com/iarunava/cell-images-for-detecting-malaria).

## Tools

- Python

### Have

[2020-08-17 07:10] HarshCasper opened #30 "Add a Beginner-Friendly Documentation for the Malarial Cell Dataset"
## Type

Advancement

## Description

Add a Beginner-Friendly Documentation for the [Malarial Cell Dataset](https://www.kaggle.com/iarunava/cell-images-for-detecting-malaria). It should include the basic EDA and show various aspects of the Dataset as a whole. Remember that you have to submit this as a Jupyter Notebook and it should be a basic walk-around the whole Dataset with proper documentation

[2020-08-17 07:23] HarshCasper opened #31 "Create a .gitignore File"
## Type

Advancement

## Description

Our Repository currently lacks a proper Gitignore Setup. Add a .gitignore setup so that we don't actually push code that we don;t actually intend to in the long run.

[2020-08-17 07:29] rutujadhanawade commented on #29
I can work on this.

[2020-08-17 07:50] AdityaAshvin commented on #31
Can I do it @HarshCasper?

[2020-08-17 07:55] bhadreshpsavani commented on #31
Sure, I am assigning this issue to you @AdityaAshvin

[2020-08-17 07:57] bhadreshpsavani commented on #29
Sure @rutujadhanawade ,
I am assigning this issue to you

[2020-08-17 08:01] chttrjeankr commented on #26
![image](https://user-images.githubusercontent.com/39518771/90372108-84213200-e08d-11ea-9543-be407c45f2c2.png)
@HarshCasper, @sarthakkundra I think this is because of some restrictions on what kind of actions are allowed in the organization.

Maybe [this](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/disabling-or-limiting-github-actions-for-your-organization) pa

[2020-08-17 08:04] sarthakkundra commented on #26
@sarthakkundra Yes I'm looking into it

[2020-08-17 08:26] carrycooldude opened #34 "Server is not running"
# Server is not opening

## Description

Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

![image](https://user-images.githubusercontent.com/41143496/90374596-5c33cd80-e091-11ea-8cb3-427759ed991d.png)

[2020-08-17 08:30] sameersrivastava13 commented on #34
@carrycooldude use the correct end point defined other wise it will definitely gonna show internal server error.

[2020-08-17 09:17] BALaka-18 commented on #31
Closing this issue as it has been resolved for now.

[2020-08-17 09:17] #31 closed

[2020-08-17 09:22] kritikaparmar-programmer commented on #30
I want to work on this issue @HarshCasper , Please assign it to me..

[2020-08-17 09:27] carrycooldude commented on #34
Can explain what end point if you saying requirement so I done with it

[2020-08-17 09:45] macabdul9 commented on #30
I am assigning it to you @kritikaparmar-programmer

[2020-08-17 12:07] sarthakkundra commented on #34
@carrycooldude what URL (endpoint) did you enter in the above screenshot?

[2020-08-17 12:19] carrycooldude commented on #34
http://127.0.0.1:5000/

[2020-08-17 12:25] carrycooldude commented on #34
http://127.0.0.1:5000/

[2020-08-17 17:33] ashishsahu1 commented on #6
Yes I will use Adobe XD

[2020-08-17 18:04] BALaka-18 commented on #34
@carrycooldude The application works fine on my local system. And I don't seem to find any errors in the code.

[2020-08-17 18:19] cnduc commented on #30
Can i work on this issue along with Kritikaparmar @HarshCasper

[2020-08-18 02:42] HarshCasper commented on #6
@ashishsahu1 I have assigned you to make the Landing Page.

[2020-08-18 02:50] VarthanV commented on #34
Did this issue got resolved?

[2020-08-18 03:11] BALaka-18 commented on #34
I don't think so.
@carrycooldude please confirm whether this issue got resolved on your system.

[2020-08-18 03:29] HarshCasper opened #35 "Add a CONTRIBUTING.md guideline"
## 📚 Documentation

Currently, the Project Codebase lacks a Contributor's Guideline which is detrimental for new contributors. We need good documentation that can actually help new contributors to understand how they can start contributing to this Project. The basic features we are currently looking for are:

- Create a ```CONTRIBUTING.md``` to allow new users to get started with knowing how to co

[2020-08-18 03:32] VarthanV commented on #34
@BALaka-18  can u pls attach the screenshots of the  error that you getting in your terminal.

[2020-08-18 03:34] BALaka-18 commented on #34
@VarthanV I am not getting any errors. @carrycooldude is. This issue was raised by him, not me.

[2020-08-18 03:34] HarshCasper opened #36 "Add Documentation on setting Tensorflow"
## Type

Advancement

## Description

Create a Documentation File using Markdown and add it into a specific `Documentation/` directory to allow new contributors to get started with setting Tensorflow. The features to be added in the documentation includes:

- Give a basic idea about Tensorflow.
- Give a step-wise plan of setting Tensorflow on Windows/Linux/OSX Environment.
- Add Screenshots wherev

[2020-08-18 03:38] HarshCasper opened #37 "Add Documentation on setting Flask"
## Type

Advancement

## Description

Create a Documentation File using Markdown and add it into a specific `Documentation/` directory to allow new contributors to get started with setting Flask. The features to be added in the documentation includes:

- Give a basic idea about Flask as a Micro Web-Framework.
- Give a step-wise plan of setting Flask on Windows/Linux/OSX Environment.
- Add Screensh

[2020-08-18 03:40] HarshCasper commented on #30
I am not so sure if you can work on this Issue together @cnduc

Maybe @kritikaparmar-programmer can enlighten if she needs any specific help on this Issue. I will create a specific Issue for that

[2020-08-18 03:58] HarshCasper opened #38 "Create a Holdout Set"
## Type

Feature

## Description

While training, validating and optimizing our model we could over time start to overfit the validation data without realizing it. This means that the model will perform well during training but it will perform poorly on unseen data.

Create a holdout set containing 200 images. We will keep this holdout set aside and only use it at the end to check how the final mo

[2020-08-18 04:05] sameersrivastava13 commented on #34
@BALaka-18 @VarthanV I dont think this is an issue. Please ask @carrycooldude  to share the entire browser screen shot.
Other wise try running your flask application by typing `py hello.py runserver -d` or trying using some other port number in main : `app.run(debug=True, port=8000)` or `app.run(debug=True, port=2000) `

[2020-08-18 04:10] sameersrivastava13 commented on #35
@HarshCasper i would like to work on this. Please assign this to me.

[2020-08-18 04:17] BALaka-18 commented on #34
@carrycooldude follow this.
Closing this issue.

[2020-08-18 04:17] #34 closed

[2020-08-18 04:20] BALaka-18 commented on #35
Assigned.

[2020-08-18 07:00] DevangSharma commented on #2
I can design a logo for this

[2020-08-18 07:08] 510jahnavi commented on #30
I would like to work on this issue @HarshCasper .
I will try my best. Please assign it to me.

[2020-08-18 07:29] bhanvimenghani commented on #6
@ashishsahu1 what color range will you be using in the landing page so that I can use the same range in the input page and result page

[2020-08-18 07:32] aryanVijaywargia commented on #38
I would like to work on this @HarshCasper

[2020-08-18 08:36] BALaka-18 commented on #38
@aryanVijaywargia Assigned

[2020-08-18 09:37] HarshCasper commented on #30
@510jahnavi This Issue has already been assigned. Once @kritikaparmar-programmer finished with this up, I will make a separate issue for a Markdown Documentation, on which you can work. Remember that Issues are served on First Come basis, so keep a lookout for new Issues.

[2020-08-18 10:05] macabdul9 commented on #38
Holdout set will be from the same distribution, hence the performance will be the same as validation. This is the main problem of machine learning models that they do not perform well on out of the distribution data. For the demo at the client end, we can take few samples (ie: 10) from the main directory and then split the data into train, Val/test set (so that model doesn't get trained on demo da

[2020-08-18 10:07] ashishsahu1 commented on #6
@bhanvimenghani  I am using these two colours and other colours that lies in between them.
**#3E0067
#22E9D5**

[2020-08-18 10:30] HarshCasper commented on #38
I guess we can create a seperate issue for that @macabdul9

[2020-08-18 12:37] BALaka-18 commented on #38
@macabdul9 open a new issue for this. You'll be assigned to work on it.

[2020-08-18 12:51] aryanVijaywargia commented on #38
I have a query. I have written a python script that generates 100 samples at random from each class and moves the images to the holdout_dataset directory. So should my pr contain both the holdout_dataset directory (containing the images) as well as the code or only the code will suffice? @BALaka-18

[2020-08-18 13:00] ashishsahu1 commented on #2
@HarshCasper I had designed a logo that matches with UI which I am designing. Can you just look at it once.

[2020-08-18 13:12] VarthanV commented on #2
Do post it here @ashishsahu1

[2020-08-18 13:28] BALaka-18 commented on #38
@aryanVijaywargia both. The sample you created can be used for initial testing, or as an example when we document our model.

[2020-08-18 13:42] HarshCasper commented on #2
@ashishsahu1 Make a PR. Final Logo would be decided on votes cast

[2020-08-18 13:43] aryanVijaywargia commented on #38
Thanks for clarifying @BALaka-18

[2020-08-18 13:48] macabdul9 commented on #38
I think mentors can not contribute

[2020-08-18 13:58] BALaka-18 commented on #38
@macabdul9 I'm sorry I forgot. Open an issue then, participants will be assigned.

[2020-08-18 15:50] rjn01 commented on #37
I would like to work on this @HarshCasper

[2020-08-18 21:28] Shubham-1105 commented on #37
I have worked in flask, so i can work on the documentation

[2020-08-19 02:43] #2 closed

[2020-08-19 04:02] HarshCasper commented on #37
Assigned to you @rjn01

[2020-08-19 04:16] HarshCasper opened #47 "Add Create React App Boilerplate Code"
## Type

Advancement

## Description

I have created a Branch named `react-tensorflowjs` where our parallel development will go on. Add the React Boilerplate Code using `create-react-app` to the branch to get started with the UI Development using React. Make sure to add a `.gitignore` to prevent pushing up your `node-modules` as well.

## Tools

- NodeJS
- NPM
- Create React App CLI

### Have you

[2020-08-19 08:32] nooras commented on #47
hey @HarshCasper  can I do this ? will you assign me  ?

[2020-08-19 09:07] ashishsahu1 commented on #36
Can I work on this. @HarshCasper

[2020-08-19 10:48] HarshCasper commented on #47
I have assigned to you @nooras

[2020-08-19 11:00] HarshCasper opened #50 "Create an EDA Documentation Summary"
## Type

Advancement

## Description

@kritikaparmar-programmer has done an excellent job in creating an EDA on the Malarial Cell Dataset. We need a Markdown Documentation that can help us form our Wiki later using the EDA contributed by her. You can check out the Pull Request [here](https://github.com/HakinCodes/Malaria-Detection/pull/48) and create basic documentation to explore the basic intuit

[2020-08-19 15:38] ashishsahu1 commented on #36
@HarshCasper  where should keep that documentation markdown file? I mean should I create another folder for that?

[2020-08-19 17:37] sameersrivastava13 opened #53 "Adding a splash screen"
## Type

I would like to add a splash screen to the web application.
## Description

I know the Front end part is still left for the web app but i found this really cool GIF and wanted to use this for our
web application as a loading screen to give an end user immediate feedback that an application is starting and loading in the background.

## Tools

Javascript
CSS
HTML

### Have you read the [Co

[2020-08-19 17:39] sameersrivastava13 commented on #53
Please assign me this issue so that i can start working on it.
also we can change the color of the magnifying glass in the GIF above.

[2020-08-19 18:25] parikshit223933 commented on #47
Hello @HarshCasper, when @nooras is done with the boilerplate code, may I get started with the UI? I am pretty good with react applications. And if yes, then what should be the content for that?

[2020-08-19 19:05] sarthakkundra commented on #53
Looks good, you can change the color according to the approved UI

[2020-08-20 02:46] HarshCasper commented on #47
Sure @parikshit223933

We will create specific Issues for that

[2020-08-20 04:01] cnduc commented on #50
I would like to work on this. Please assign it to me. @HarshCasper

[2020-08-20 05:24] sameersrivastava13 opened #56 "Adding a 404 page."
## Description

To add a 404 error page to keep a visitor on your site even if he/she hits a page that doesn't exist. Also to change the bad User experience to a positive one by adding some links to that 404 page so that the visitor can navigate to some other page.

## Tools

python
html
css

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Det

[2020-08-20 05:25] sameersrivastava13 commented on #56
@HarshCasper Please assign me this issue.

[2020-08-20 06:11] sarthakkundra commented on #50
@cnduc  Assigned :) you have 7 days to work on the issue.

[2020-08-20 06:12] sarthakkundra commented on #56
@sameersrivastava13  Will you just add the endpoint or make the UI as well?

[2020-08-20 07:02] BALaka-18 commented on #56
@sameersrivastava13 are you willing to do the UI as well or do we assign some other participant to coordinate with you ?

[2020-08-20 07:05] BALaka-18 commented on #53
Closing this issue as it has been resolved for now.

[2020-08-20 07:05] #53 closed

[2020-08-20 09:49] sarthakkundra opened #59 "Designing a 404 page"
## Type
User Interface
New Feature

## Description
The website most definitely needs a 404 landing page in case when someone tries to access an endpoint that does not exist.

## Tools
Adobe XD / Figma

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

### Motivation
An issue opened by a participant.

[2020-08-20 09:50] sarthakkundra commented on #56
@sameersrivastava13  I have created a seperate issue for designing. You can take it up first if you want to do the designing too.

[2020-08-20 10:00] sameersrivastava13 commented on #56
@BALaka-18 @sarthakkundra i am willing to do both the things together.
please assign me this issue.

This is what i have designed and implemented.

![Screenshot (40)](https://user-images.githubusercontent.com/56088741/90756428-fdbd5800-e2f9-11ea-81aa-1ec57e025fb4.png)

[2020-08-20 10:01] sameersrivastava13 commented on #59
@sarthakkundra below i have attached a 404 page that i have designed.

![Screenshot (40)](https://user-images.githubusercontent.com/56088741/90756613-39582200-e2fa-11ea-9cb1-898322f7d2b3.png)

[2020-08-20 10:03] sameersrivastava13 commented on #56
if the design of the page is okay. Then please assign me this issue so that i can work on the backend so that whenever an incorrect end point is entered by user this 404 page should come up.

[2020-08-20 10:04] sameersrivastava13 commented on #59
Please assign me this issue if the design is okay.

[2020-08-20 10:05] BALaka-18 commented on #56
@sarthakkundra @sameersrivastava13 let's not make separate issues for frontend and backend, it will become more clumsy and clattered. One issue will be enough to handle the building of the 404 error page. And since Sameer is willing to do both, I'm assigning it to him.
Cool ?

[2020-08-20 10:10] sameersrivastava13 commented on #56
Exactly.. Please assign this to me.. and close the other issue created.
if you want any change in the design of the page then let me know i will change that immediately.

[2020-08-20 10:14] BALaka-18 commented on #56
Okay. Assigning.
@sameersrivastava13 you can check out this 404 error page that I had made for one of my projects.

![Screenshot (325)](https://user-images.githubusercontent.com/49288068/90757956-e5e6d380-e2fb-11ea-907c-20fad7a7c675.png)

[2020-08-20 10:20] #59 closed

[2020-08-20 10:23] sarthakkundra commented on #56
@BALaka-18  @sameersrivastava13  I've closed the other issue so you can do both the tasks in this issue only. But for the design I'd suggest you to refer to #6 So that you use the same colors as the overall UI for uniformity. Also please get the design approved here before starting to work on it. Thanks!

[2020-08-20 10:25] BALaka-18 commented on #56
Yes sure, @sameersrivastava13 please refer to #6

[2020-08-20 10:35] sameersrivastava13 commented on #56
I was planning to add the one above which i have shown or this which i have attached below:

![bandicam-2020-08-20-15-58-09-773](https://user-images.githubusercontent.com/56088741/90759998-db7a0900-e2fe-11ea-814e-a143efb8460c.gif)

[2020-08-20 10:44] sarthakkundra commented on #56
@sameersrivastava13 These designs do not match the color scheme of the website. If you need the designs for the homepage and the input form you can message me on Slack. They will definitely help you.

[2020-08-20 10:45] BALaka-18 commented on #56
Actually, what @sarthakkundra meant was that, if you've seen the UI design already merged, the color scheme is majorly based on blue, purple and white. So your error page should be similar for a better view.

[2020-08-20 12:40] nooras commented on #47
What name i give to create react-app ?

[2020-08-20 13:01] HarshCasper commented on #47
Name it `malarial-detection`

[2020-08-20 13:09] nooras commented on #47
Hey @HarshCasper I went to branch react-tensorflow and there i created app using create react-app . Now its done... Now can I do commit and push ? Or have to do something else ?

[2020-08-21 06:24] sameersrivastava13 commented on #56
@BALaka-18 @sarthakkundra
is this okay? the color combination.

![Capture](https://user-images.githubusercontent.com/56088741/90859047-0c147e00-e3a5-11ea-82c6-cd102e5c942d.PNG)

[2020-08-21 06:28] BALaka-18 commented on #56
@sameersrivastava13 Looks better. You can increase the font size of the 2nd line and make the 'GO BACK HOME' bolder.
Let's wait for @sarthakkundra's reviews.

[2020-08-21 06:29] sarthakkundra commented on #56
looks good to me 👍

[2020-08-21 06:30] BALaka-18 commented on #56
@sameersrivastava13 make the changes I proposed and open a PR.

[2020-08-21 06:30] sarthakkundra commented on #56
@sameersrivastava13 see if you can add a mosquito GIF like the bee that'd look good but it's fine if you can't find it :)

[2020-08-21 06:40] sameersrivastava13 commented on #56
Definitely. I'll try adding something related to that.

[2020-08-21 06:41] sameersrivastava13 commented on #56
Sure @BALaka-18

[2020-08-23 06:08] HarshCasper opened #74 "Create Routes in the React Application + Populate Mock Content"
## Type

New Feature

## Description

Create Routes in the React Application using React-Router and populate them with Mock Content for now.

## Tools

- React Router
- JSX

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

[2020-08-23 06:32] HarshCasper opened #75 "Add Issue Number in PR Template"
## Type

Advancement

## Description

Add Issue Number in PR Template

## Tools

- Markdown

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

### Motivation

Contributors should reference the Issue Number before submitting their PR.

[2020-08-23 06:37] HarshCasper opened #76 "Create a Folder Structure for the React Frontend"
## Type

Advancement

## Description

Create a Folder Structure for the React Frontend. Follow [this](https://dev.to/chrisachard/tips-for-organizing-react-projects-191) to get a good understanding of a good Folder Structure in a React Project.

## Tools

- None

(required tools/coding languages)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria

[2020-08-23 10:46] bhadreshpsavani opened #80 "Remove a line from Malaria_detection.ipynb"
## Type

Refactoring

## Description

[Malaria_detection.ipynb](https://github.com/HakinCodes/Malaria-Detection/blob/master/Notebooks/Malaria_detection.ipynb) in **Steps to solve the problem** section we have following steps,
[code]
Step 5 which is `Ploting images and its labels to understand how does an infected cell and uninfected cell looks like.` should be removed since its EDA step and need t

[2020-08-23 12:27] sameersrivastava13 opened #83 "Adding a favicon"
## Type

advancement in original

## Description

As we know favicon serves as branding for a website. Its main purpose is to help visitors locate your page easier when they have multiple tabs open. So i would like to add a favicon to our web application.

## Tools

HTML

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CO

[2020-08-23 17:00] sameersrivastava13 commented on #83
@BALaka-18 thanks for assigning the issue.
Also please add the required labels.

[2020-08-23 17:13] BALaka-18 commented on #83
Done.

[2020-08-23 17:17] Amber-Williams commented on #74
Looks like you don't have React installed on the repo yet or a package.json for your node modules . If I take this up, I will need to add React then have the app serve your template/*.html files using react router. This works for you?

[2020-08-23 17:42] amoghatsunil commented on #7
Yes..I am available
@BALaka-18

[2020-08-24 03:11] HarshCasper commented on #74
@Amber-Williams Actually this Project is being worked upon in Contributor's Hack 2020. We are having two parallel development lifecycle going on. One is with traditional HTML+CSS, Bootstrap and Flask while the other one is with React and Node. You can check out our parallel development branch [here](https://github.com/HakinCodes/Malaria-Detection/tree/react-tensorflowjs).

[2020-08-24 03:24] cnduc commented on #50
@HarshCasper Hello, I am done working with the documentation, but i am not sure how to push the files here. Can some help me with push and pull requests.  Thanks in advance.

[2020-08-24 05:48] HarshCasper opened #89 "Build a Literature Survey for Transfer Learning + Popular Pre-Trained Models for Binary Classification"
## Type

Advancement

## Description

Build a Literature Survey for Transfer Learning including some Popular Pre-Trained Models for Binary Classification. Add the following there:

- What is Transfer Learning?
- Use-Cases of Transfer Learning to solve Complex Problems
- Popular Pre-Trained Models for Transfer Learning
- Comparative Case-Study of various Models

## Tools

- Markdown
- Python

### H

[2020-08-24 06:30] sarthakkundra commented on #50
@cnduc First your have to push code to your forked repository for that follow these commands.
1. Navigate to the folder in the cmd line using the command 'cd' For eg :- cd desktop/Malaria
2. Then write the command 'git add . ' this will add all the new/modified folder in a stack ready to be uploaded.
3. At any point of time if you have any doubt if all the files are there or not you can check that

[2020-08-24 09:16] ashishsahu1 commented on #89
Should I work on this @HarshCasper

[2020-08-24 10:27] sameersrivastava13 opened #91 "Refactoring code by using url_for in flask"
## Type

new feature / advancement in original

## Description

`url_for` in Flask is used for creating a URL to prevent the overhead of having to change URLs throughout an application **(including in templates).** Without `url_for` , if there is a change in the root URL of our application then we have to change it in every page where the link is present.

## Tools

Python (Flask)

### Have you re

[2020-08-24 10:28] sameersrivastava13 commented on #91
Please assign me this issue.

[2020-08-24 12:30] Amber-Williams commented on #74
Cool I can pick this up

[2020-08-24 17:47] kahanikaar commented on #89
Working as a mentor for the project in HakinCodes, can i make some additions here? @HarshCasper

[2020-08-24 17:48] kahanikaar commented on #80
Is this issue still requires any additions, or can be closed for now? @bhadreshpsavani

[2020-08-24 17:50] kahanikaar commented on #36
Is this issue still open @HarshCasper ?

[2020-08-24 17:53] bhadreshpsavani commented on #80
Hi @kahanikaar we can close it,
@BALaka-18 can you please close this issue and add points in the leaderboard for the participant

[2020-08-24 17:54] kahanikaar commented on #1
I was selected as a Mentor for HakinCodes and planned for contributing in Malaria Detection Project, but was not added into the Mentor's List, can it be done now? @HarshCasper @BALaka-18 , can check my Profiles here
[Linkedin](https://www.linkedin.com/feed/)
[Github](https://github.com/kahanikaar)

[2020-08-24 19:27] cnduc commented on #50
@sarthakkundra Hi, i tried adding the repositoty using git add command. It throws a fatal error(not a git repository or any of the parent directories). I have already uploaded files in a new repository.

[2020-08-25 02:38] #36 closed

[2020-08-25 05:23] BALaka-18 commented on #89
@ashishsahu1 are yo working on any other issue currently ?

[2020-08-25 06:27] ashishsahu1 commented on #89
Not working on any of the issue, just landing page UI is yet to be reviewed @BALaka-18

[2020-08-25 06:38] #83 closed

[2020-08-25 06:45] #75 closed

[2020-08-25 06:47] sarthakkundra commented on #76
@mechiragjain You have 2 hours to address this comment or make a PR otherwise the issue will be assigned to someone else.

[2020-08-25 08:57] kaustubhgupta opened #95 "Factory Application Pattern for the Flask App"
## Type

advancement

## Description
The current flask application is just a single file with all the routes and configurations defined in a single file. It may happen in the future that this application increases in code and more routes added to the website which will make it difficult to maintain the code. Solution: Converting the current application into a factory application pattern which will

[2020-08-25 08:58] kaustubhgupta commented on #95
I would like to work on this approach, can you assign this issue with appropriate labels to me?

[2020-08-25 10:49] BALaka-18 commented on #95
@HarshCasper @sarthakkundra @bhadreshpsavani @macabdul9 shall we assign him this issue ?

[2020-08-25 11:04] BALaka-18 commented on #95
@kaustubhgupta this is a basic setup that we've created, I don't think factory application pattern is needed as of now.
Closing it currently, will re-open when we need it, cool ?

[2020-08-25 11:04] #95 closed

[2020-08-25 11:07] kaustubhgupta commented on #95
okay you can ping me if in future you want to shift to this pattern :-)

[2020-08-25 11:09] BALaka-18 commented on #95
Yes sure @kaustubhgupta

[2020-08-25 11:12] Asim-2000 commented on #76
I would like to have this issue resolved.

[2020-08-25 11:13] BALaka-18 commented on #76
@Asim-2000 you have 24 hours to complete this issue and create a PR.
Assigned.

[2020-08-25 11:14] Asim-2000 commented on #76
@BALaka-18 noted!

[2020-08-25 14:03] #91 closed

[2020-08-26 02:41] HarshCasper commented on #89
Let's shift this conversation on Slack for better accessibility

[2020-08-26 02:42] HarshCasper commented on #89
Assigned to you

[2020-08-26 02:56] HarshCasper commented on #3
A PR for this Issue was made by @sameersrivastava13 and merged. Closing this Issue now

[2020-08-26 02:57] #3 closed

[2020-08-26 02:58] #35 closed

[2020-08-26 02:59] #37 closed

[2020-08-26 03:00] #56 closed

[2020-08-26 03:01] HarshCasper commented on #50
@cnduc If you have further issues, kindly contact me on Slack

[2020-08-26 03:01] #47 closed

[2020-08-26 03:02] #80 closed

[2020-08-26 03:21] HarshCasper opened #99 "Make a Navbar Component for the React Application"
## Type

Feature

## Description

Create a Navbar component for the React Application. We will have three routes:
- Home Page (`Landing Page`)
- About Page
- Demo Page

The PR for adding routes has been made by @Amber-Williams so you can move forward and create a Navbar component using the same. Make sure to push your code on the `react-tensorflowjs` branch of the Project.

## Tools

- JSX
- CSS

[2020-08-26 03:31] mechiragjain commented on #99
Okay will do that

[2020-08-27 04:22] HarshCasper opened #103 "Build the Model using tf.keras"
## Type

Advancement

## Description

Build a Model using tf.keras. Follow these instructions to submit your Notebook:

- Use the restructured dataset which already has train/val/test set.
- Create a  model using tf.keras
- Evaluate your Model using Confusion Matrix
- Test your model against the Holdout/Test Set
- Use proper Jupyter Markdown to document your Code

## Tools

- Jupyter Notebook
- Ju

[2020-08-27 05:46] kritikaparmar-programmer commented on #103
I want to work on this issue.. @HarshCasper

[2020-08-27 07:51] HarshCasper commented on #103
Assigned to you @kritikaparmar-programmer

[2020-08-27 07:52] #7 closed

[2020-08-27 13:20] sarthakkundra opened #106 "Create the home page for React application"
## Type
New feature ( User Interface )

## Description
The React app has a pages sub-folder where all the pages will go.
Make the home page as per the approved UI.

**Note** You don't need to make the navbar as that is a separate component and that work has been assigned to someone.

## Tools
JSX
HTML
Bootstrap (react-bootstrap)

### Have you read the [Contributing Guidelines on Pull Requests](htt

[2020-08-28 06:27] sameersrivastava13 opened #109 "Jinja Templating"
## Type

new feature / advancement in original

## Description

Ability to create reusable templates for our web application. There are lots of elements in the website that are currently common and in future will be common like the header or footer or the navigation bar. So instead of copy pasting the exact same code on every single page of the website we can simply create a common template `layou

[2020-08-28 06:27] sameersrivastava13 commented on #109
Please assign me this issue.

[2020-08-28 14:50] himanshujaidka opened #110 "Updation of numpy version is required"
## Type

(specify whether it is a bug / new feature / advancement in original)

## Description
Upgrade the numpy version to <=1.19.0
![Screenshot (61)](https://user-images.githubusercontent.com/58654018/91581237-d30f7700-e96b-11ea-89d1-f9a713428bc2.png)

(A clear and concise description of what the feature/Bug is.)

## Tools

(required tools / coding languages)

### Have you read the [Contributing

[2020-08-28 14:57] sarthakkundra commented on #109
Sounds good. You have 5 days to make the template for the home page. Refer to the approved UI for the design and feel free to comment here or ask on Slack in case of any issues.

[2020-08-28 16:40] sameersrivastava13 commented on #109
@sarthakkundra  Actually keep this issue on-hold. I was not talking about making the home page of our web application according to the UI approved.
i was just planning to add jinja templating in the current basic flask setup or you can just close this issue.
After our home page is ready we can open the same issue again to improve the functionality.

[2020-08-28 19:46] macabdul9 commented on #110
open cmd with admin rights and then install the dependencies (--user might not work in windows)

[2020-08-28 19:53] macabdul9 commented on #103
@kritikaparmar-programmer I have updated the description a little, let me know if you have any problem in modeling.

[2020-08-29 16:17] nooras commented on #106
Hey i wanted to try this... can You assign me? as i am new to React... I want to work on this... @sarthakkundra
And 1 more where is UI?

[2020-08-29 16:45] sarthakkundra commented on #106
@nooras You have 7 days to work on this issue. Make a folder called 'pages' inside of components and make a file called HomePage.js and work in it. The approved UI was sent to the Slack channel, it might be available somewhere in the repo also.

[2020-08-29 16:47] nooras commented on #106
Okay sir And where I have to put html file ? @sarthakkundra

[2020-08-29 16:49] sarthakkundra commented on #106
@nooras It's a React page so you won't need a separate HTML file. Are you sure you want to do this, this is a bit advanced work

[2020-08-29 16:49] nooras commented on #106
Yes yess

[2020-08-29 16:51] sarthakkundra commented on #106
@nooras All the best! :) Feel free to ask for help here if you're stuck

[2020-08-31 15:04] #109 closed

[2020-09-01 05:43] rutujadhanawade commented on #38
Is this issue open?

[2020-09-01 17:22] #103 closed

[2020-09-02 05:29] kritikaparmar-programmer opened #121 "Sigmoid not changed to Softmax in model_malaria_detection.ipynb"
## Type

Typo

## Description

After being asked to use Softmax instead of Sigmoid, I forgot to change that in the markdown cell..

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

This is the ss showing the issue..
![picmodel](https://user-images.githubusercontent.com/59971890/91935410-436f1d00-ed0

[2020-09-02 05:31] kritikaparmar-programmer commented on #121
I want to resolve this mistake.. Sorry for the inconvenience..

[2020-09-02 10:20] macabdul9 commented on #121
I am assigning this to you @kritikaparmar-programmer

[2020-09-02 13:41] #121 closed

[2020-09-03 02:57] HarshCasper opened #123 "Create the Landing Page for the Website [HTML+CSS+Bootstrap+JQuery]"
## Type

Advancement

## Description

Create the Landing Page for the Website using HTML, CSS, Bootstrap and JQuery. Refer [this](https://github.com/HakinCodes/Malaria-Detection/tree/master/design/WebUI/LandingPage) for the UI Wireframe that you would need to follow.

You will have maximum 7 Days to work on this. You don't need to work on the integration of Dark Theme for now.

## Tools

- HTML
-

[2020-09-03 03:02] HarshCasper opened #124 "Create the Input Page [HTML+CSS+Bootstrap+JQuery]"
## Type

Advancement

## Description

Create the Input Page using HTML, CSS, Bootstrap and JQuery. Make sure to follow this [UI Design](https://github.com/HakinCodes/Malaria-Detection/blob/master/design/webpage_designs/input_form.png) while developing the Webpage.

## Tools

- HTML
- CSS
- Bootstrap
- JQuery

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Hakin

[2020-09-03 03:05] HarshCasper opened #125 "Create the Results Page [HTML+CSS+Bootstrap+JQuery]"
## Type

Advancement

## Description

Create the Results Page using HTML, CSS, Bootstrap, JQuery. Make sure to follow this [UI Design](https://github.com/HakinCodes/Malaria-Detection/blob/master/design/webpage_designs/result_page.png) while developing the Webpage.

## Tools

- HTML
- CSS
- Bootstrap
- JQuery

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Hakin

[2020-09-03 03:11] HarshCasper opened #126 "Compose a h5 File from the Data Modelling"
## Type

Feature

## Description

Compose an h5 File from the Data Modelling and store it in the `models/` folder.

## Tools

- Jupyter Notebook
- Python

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

[2020-09-03 03:26] HarshCasper opened #127 "Create a Model using a Custom Convolutional Neural Network using PyTorch"
## Type

Advancement

## Description

Create a Model using a Custom Convolutional Neural Network using PyTorch. This Issue is open to <b>three people</b> who wish to try out their hands in bringing out the best architecture.
## Tools

- Python
- PyTorch
- Jupyter Notebook
- Jupyter Markdown

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Dete

[2020-09-03 03:29] HarshCasper opened #128 "Get rid of Jupyter Endpoints"
## Type

Bug

## Description

Get rid of `.ipynb_checkpoints` by adding the hidden directory to the `gitignore` file.

[2020-09-03 05:35] AdityaAshvin commented on #124
Can i work on this @HarshCasper ?

[2020-09-03 07:53] kritikaparmar-programmer commented on #127
I want to work on this issue.. Please assign me...

[2020-09-03 08:14] ymaheshwari1 commented on #125
I am interested in this. @HarshCasper

[2020-09-03 08:21] bhanvimenghani commented on #126
I can make a h5 file but I cannot find the models/ folder? Are you refering to the Notebooks folder?

[2020-09-03 09:11] macabdul9 commented on #126
It'd be better if some who has built the model, write a script that takes the input image path and gives the output as class(infected or not) and confidence score(max probability in case of softmax).

[2020-09-03 10:07] nooras commented on #106
## Home page done @sarthakkundra
![home](https://user-images.githubusercontent.com/30138146/92101793-42b5b400-edfb-11ea-8fbc-e4bcb4a18ec9.gif)

[2020-09-03 11:09] bhanvimenghani commented on #126
I have no problem with it if you want you can take up the issue @macabdul9

[2020-09-03 14:54] macabdul9 commented on #127
Sure @kritikaparmar-programmer, you can work on this. Also, save the trained model for production use, and if possible write the test script as well.

[2020-09-04 04:11] sameersrivastava13 commented on #128
@HarshCasper i would like to work on this issue.

[2020-09-04 09:54] devanshiv123 commented on #123
@HarshCasper I would like to work on this issue.

[2020-09-04 18:46] nooras commented on #123
I thought this is the same task as issue no #106 have

[2020-09-06 20:30] namanshah01 commented on #126
Hey, I worked on a similar project where I saved the models weights to an h5 file(check my [pneumonia_classifier](https://github.com/namanshah01/pneumonia_classifier) repo). Can I work on this project?

[2020-09-07 03:19] HarshCasper commented on #126
I am assigning this to you @bhanvimenghani

[2020-09-07 03:19] HarshCasper commented on #125
Assigning this to you @ymaheshwari1

[2020-09-07 03:20] HarshCasper commented on #124
Assigning this to you @AdityaAshvin

[2020-09-07 03:21] HarshCasper commented on #123
I am assigning it to you @devanshiv123

@nooras The Page you developed was for the React Application.

[2020-09-07 03:21] HarshCasper commented on #128
Assigned it to you @sameersrivastava13

[2020-09-07 03:37] HarshCasper opened #131 "Train the Model using VGG-16"
## Type

Advancement

## Description

Create and Train a Model using VGG-16, using either Keras (Tensorflow) or PyTorch. This Issue can be assigned to two people working on either of the frameworks for Data Modelling. Create a Test Script as well, which can be used to test the Script.

## Tools

- Python
- Tensorflow
- PyTorch
- Jupyter Notebook
- Jupyter Markdown

### Have you read the [Contribut

[2020-09-07 04:57] ymaheshwari1 opened #132 "Update the README.md file"
## Type
Advancement

## Description
To update the local installation section in the README file to add the step to create a virtual environment before running the requirements.txt file

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?
Yes

[2020-09-07 04:58] ymaheshwari1 commented on #132
I am interested in working on this.

[2020-09-07 10:47] #128 closed

[2020-09-07 20:10] rjn01 commented on #131
@HarshCasper Can I work on this issue?

[2020-09-08 00:37] bhanvimenghani commented on #126
@macabdul9 you mean you need a **test script** along with the models weight. Right?

[2020-09-08 03:52] AdityaJ7 opened #134 "[Bug]Wrong version of opencv-python in the requirements.txt file"
## Type

Bug

## Description

The opencv-python version present in the requirements.txt is wrong and hence it throws an error when we run the following command:
pip install -r requirements.txt

## Tools
Python

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

## Screenshot of the bug
![bug](https://

[2020-09-08 14:34] macabdul9 commented on #126
yes, the test/inference script should take an image and predict the class (using trained model). In case you've worked on model optimization, you can optimize your model to reduce the model size and it may reduce the inference time as well.

[2020-09-09 14:22] AdityaAshvin opened #139 "Typo in the pull request template"
## Type

Typo

## Description

There is a typo in the pull request template. It should be 'meets' instead of 'mets' in the checklist.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes.

[2020-09-12 07:31] BALaka-18 commented on #131
@rjn01 assigning you the issue for Keras based implementation.

[2020-09-12 07:43] BALaka-18 commented on #139
@AdityaAshvin please provide a screenshot.

[2020-09-12 07:49] AdityaAshvin commented on #139
In the pull_request_template.md .  @BALaka-18
![ss](https://user-images.githubusercontent.com/53205379/92990448-497ab000-f4fa-11ea-938a-d99c30f932ee.JPG)

[2020-09-13 15:48] Adyasha8105 commented on #123
@HarshCasper I want to work on this?

[2020-09-15 03:32] HarshCasper commented on #126
Are you working on this @bhanvimenghani ?

Because of this Issue, we have not been able to move forward with any other Issue.

[2020-09-15 03:33] HarshCasper commented on #125
Are you working on it @ymaheshwari1 ?

If not, I will assign this to someone else.

[2020-09-15 03:36] ymaheshwari1 commented on #125
@HarshCasper No, I am having errors while setting it up. You can assign it to someone else.

[2020-09-15 03:45] HarshCasper commented on #139
You can work on this @AdityaAshvin

I am tagging apt tags to this Issue

[2020-09-15 03:45] #74 closed

[2020-09-15 03:46] #50 closed

[2020-09-15 03:46] #38 closed

[2020-09-15 03:47] HarshCasper commented on #132
Assigning this to you @ymaheshwari1

[2020-09-15 03:48] #6 closed

[2020-09-15 03:50] HarshCasper commented on #89
Are you working on this @ashishsahu1 ?

It is way MUCH time now for this Issue.

[2020-09-15 03:53] HarshCasper opened #145 "Build a CNN Model using Alexnet Architecture"
## Type

Advancement

## Description

Create a new CNN Model using the Alexnet Architecture. Document the Code properly for better understanding.

## Tools

- Jupyter Notebook
- PyTorch / Keras
- Jupyter Markdown

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes

[2020-09-15 04:26] HarshCasper opened #146 "Create Unit-Tests for the Flask Application"
## Type

Advancement

## Description

Create Unit-Tests for the Flask Application using `pytest`. Add the `conftest.py` file and test the route responds with the Tests that you will be writing. Add a Github Action as well for Unit Tests to show if the Flask Application build is passing or failing.

## Tools

- PyTest
- Python
- Github Actions
- Flask

[2020-09-15 04:37] HarshCasper opened #147 "Add a Github Action to mark stale Issues with a Tag"
## Type

Advancement

## Description

Add a Github Action to mark stale Issues with a Tag. Issues which are not assigned, or has not been mentioned anywhere for more than 7 Days should be tagged with a "Stale" tag automatically.

## Tools

- Github Actions

[2020-09-15 04:57] bhanvimenghani commented on #126
you can unassign me

[2020-09-15 05:22] HarshCasper opened #148 "Design a Page for the Project Contributors + Mentors"
## Type

Advancement

## Description

Design a Page using a UI Prototyping Tool like Adobe XD/Figma, for the Project Contributors, Mentors and Administrators. Make sure to submit the design in Image/PDF Format along with the raw file in the appropriate `design/` directory. It should have two parts:

- Admin and Mentors
- Contributors

You can use Dummy Data for the designing part.

## Tools

- Ado

[2020-09-15 06:08] v-sonawane commented on #126
I am willing to work on this issue.

[2020-09-15 06:10] namanshah01 commented on #145
May I work on this please?

[2020-09-15 06:12] Akshi149 commented on #147
@HarshCasper I would like to work on this issue.

[2020-09-15 06:14] sameersrivastava13 commented on #146
@HarshCasper I would like to work on this issue.

[2020-09-15 06:58] kritikaparmar-programmer commented on #148
Can I try this issue.. @HarshCasper Though I've no experience with designing. 😅

[2020-09-15 07:06] Shubham-1105 commented on #126
I have worked on this

[2020-09-15 15:54] rjn01 commented on #145
@HarshCasper Can I work on this issue using Keras.

[2020-09-16 04:00] HarshCasper commented on #145
I have assigned this to you @namanshah01

You can work on this using PyTorch @rjn01

[2020-09-16 04:01] HarshCasper commented on #126
I am assigning this to you @v-sonawane

Kindly make a PR by tomorrow for this

[2020-09-16 04:01] HarshCasper commented on #148
Yeah, sure. I am assigning this to you @kritikaparmar-programmer

You can take a look at some tutorials for the purpose. We aren't looking at anything fancy but something that can fit well with our current design.

[2020-09-16 04:02] HarshCasper commented on #146
Assigned to you @sameersrivastava13

[2020-09-16 04:02] HarshCasper commented on #147
Assigned to you @Akshi149

[2020-09-16 04:06] HarshCasper commented on #123
@devanshiv123 Are you working on this?

If not, I am assigning this to @Adyasha8105

[2020-09-16 04:09] amoghatsunil commented on #125
I would like to work on this(html,css), but I am not sure about the jquery and bootstrap part

[2020-09-16 04:11] amoghatsunil commented on #89
I would like to work on this issue!

[2020-09-16 04:15] rutujadhanawade commented on #125
I would like to work on this

[2020-09-16 04:15] rutujadhanawade commented on #89
I would like to work on this

[2020-09-16 04:22] devanshiv123 commented on #123
@HarshCasper No, I am facing some problems, you can assign it to someone else.

[2020-09-16 05:25] HarshCasper commented on #123
@Adyasha8105 I am assigning this to you. Kindly confirm if you will be working on this.

[2020-09-16 05:26] HarshCasper commented on #89
Assigned this to you @amoghatsunil

[2020-09-16 05:26] HarshCasper commented on #125
You can see what fits you the best. I am assigning this to you @amoghatsunil

[2020-09-16 05:54] shraddhavp opened #150 "Create a contributing.md file for beginners"
## Type

Add a new contributing.md file

## Description

Create this file with
-Some GIF's
-Screenshots
-CLI for beginners to fork the repo ,create a issue and a PR

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?
yes

### Motivation

Similar what I have created in https://github.com/harsh-9in/Blogger/bl

[2020-09-16 05:55] shraddhavp commented on #150
If the issue is approved I would like to work on this issue

[2020-09-16 06:13] Shubham-1105 commented on #99
I want to work on this

[2020-09-16 06:14] BhawnaKochhar commented on #99
I want to work on this

[2020-09-16 10:06] namanshah01 commented on #145
Thank you. Is it fine if i take the same dataset form kaggle https://www.kaggle.com/iarunava/cell-images-for-detecting-malaria ? Or should i use the one in your repo

[2020-09-16 13:29] Akshi149 commented on #147
@HarshCasper Should the issues that are already assigned but have no recent activity for more than 7 days be tagged " stale"?

[2020-09-16 16:17] #132 closed

[2020-09-17 02:55] v-sonawane commented on #126
Alongwith the h5 files(model & model weights), the script to take image path as input and predict it with confidence score is also to be uploaded in models/ folder?

[2020-09-17 12:07] HarshCasper commented on #147
Yes @Akshi149

[2020-09-17 17:54] v-sonawane commented on #126
Any mentors there to acknowledge the pull request?

[2020-09-17 18:09] macabdul9 commented on #126
hey @v-sonawane I am on it

[2020-09-17 18:21] v-sonawane commented on #126
Also could you weigh in on this as well?

[2020-09-17 18:28] macabdul9 commented on #126
I have requested the change for the same

[2020-09-17 18:46] #131 closed

[2020-09-17 19:25] rjn01 commented on #145
@HarshCasper I have not worked with PyTorch. I only know how to work using keras.

[2020-09-17 19:55] kritikaparmar-programmer commented on #148
![image](https://user-images.githubusercontent.com/59971890/93521404-a5579580-f94d-11ea-8c74-59ad29c07a35.png)
Hey @HarshCasper will something like this will work
This page is for project admin and mentors
I'm new to it that's why I want some suggestion..😅

[2020-09-17 22:09] rjn01 opened #159 "Typo in Malaria_Detection_using_keras.ipynb"
## Type

(specify whether it is a bug / new feature / advancement in original)
Advancement
## Description

(A clear and concise description of what the feature/Bug is.)
There are some HTML tags shown such as paragraph and Line break in Data Augmentation and About VGG
## Tool

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/maste

[2020-09-17 22:11] rjn01 commented on #159
I want to work on this issue

[2020-09-18 09:08] v-sonawane commented on #126
Done👍🏻

[2020-09-18 17:16] kritikaparmar-programmer commented on #148
Hey @HarshCasper I've tried something take a look and provide some suggestions.
![demo](https://user-images.githubusercontent.com/59971890/93626270-d5ac3c00-fa00-11ea-8e50-4396812f9aa0.png)

[2020-09-18 17:51] #145 closed

[2020-09-18 17:55] #126 closed

[2020-09-18 17:56] #159 closed

[2020-09-18 17:57] HarshCasper commented on #148
@kritikaparmar-programmer You can reduce the Profile Picture of my size and keep it the same as the Mentors. There is absolutely no need of keeping a picture at such a large dimension.

Make sure that the Contributors are highlighted more as they are the one making this happen.

[2020-09-18 18:14] macabdul9 opened #166 "REST API in Flask"
## Type

REST API using Flask

## Description

Build a REST API to expose the trained model, we will POST an image to /predict endpoint and we need class and confidence as response.

## Tools
- Flask
- Keras/Tensorflow/PyTorch
- REST API
- Modeling

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?
Yes

No

[2020-09-19 11:05] sameersrivastava13 commented on #166
I would like to work on this issue.
Please assign me this issue.

[2020-09-19 23:03] #127 closed

[2020-09-19 23:09] macabdul9 commented on #166
Sure @sameersrivastava13, I am assigning you to work on this. If possible, test your API endpoint from the React client app. You have 5 days to create a PR but earlier the merrier.

[2020-09-20 07:16] kritikaparmar-programmer commented on #166
Hey @macabdul9 I want to try out this issue. Please assign me..

[2020-09-20 07:37] kritikaparmar-programmer commented on #166
And also I want some more reference material if you can provide..😅

[2020-09-20 07:53] sameersrivastava13 commented on #166
yeah you can ask and take this issue as I will be not active for few days. All the best.

[2020-09-20 18:01] macabdul9 commented on #166
@kritikaparmar-programmer you can work on this, I expect a PR within the stipulated time. You should check out this repo [reddit-flair-detector](https://github.com/macabdul9/reddit-flait-detector) for client server architecture.

[2020-09-22 05:38] v-sonawane commented on #89
I am willing to work on this issue.

[2020-09-22 05:40] rutujadhanawade commented on #89
I want to work on this..

[2020-09-22 07:28] #147 closed

[2020-09-22 07:30] #148 closed

[2020-09-22 07:33] HarshCasper opened #168 "Create the Contributor's Page"
## Type

New Feature

## Description

Develop the Contributor's Page and make it responsive. You can refer the UI wireframe from [here](https://github.com/HakinCodes/Malaria-Detection/blob/master/design/P_C%26Mentors/malaria_pa_mentors.png) and make the page responsive. Add a Contributor Table and pull the data from a JSON File. You can use a mock JSON file for now.

<b>Please note that you need t

[2020-09-22 07:39] sameersrivastava13 commented on #168
@HarshCasper i would like to work on this issue.

[2020-09-22 07:43] HarshCasper opened #169 "Compose the TensorflowJS Model from the Jupyter Notebook"
## Type

Advancement

## Description

Compose the TensorflowJS Model from the Jupyter Notebook. We have developed few Model Architectures that are available in the `Notebooks/` directory. Take a look at the models implemented using Keras and Tensorflow and convert them into TensorflowJS Model.

Make sure to compare their performance metrics and make the commit on the `react-tensorflowjs` branch to

[2020-09-22 07:49] HarshCasper commented on #89
I am assigning to you @v-sonawane

[2020-09-22 08:17] rutujadhanawade commented on #125
I would like to work on this

[2020-09-22 09:52] HarshCasper commented on #125
Assigned to you @rutujadhanawade

Would you be able to make a PR for this in 3 Days?

[2020-09-22 11:17] rutujadhanawade commented on #125
Yeah 👍 I will try @HarshCasper

[2020-09-23 05:30] AshutoshDash1999 commented on #123
Can I take up this issue? But I'm not that familiar with jquery!

[2020-09-23 06:44] nikita-1801 commented on #123
I'd like to work on this.

[2020-09-23 14:28] nooras commented on #106
Do close this issue... Work is already done and merged #129 @sarthakkundra

[2020-09-23 15:52] sarthakkundra commented on #106
@nooras this is a PR not an issue and we've merged the restyled PR so you can go ahead and delete it.

[2020-09-23 16:18] nooras commented on #106
I mean to say this (Current issue page on which we commenting each other) #106 ..... 😅 @sarthakkundra

[2020-09-24 01:37] #134 closed

[2020-09-24 01:37] #139 closed

[2020-09-24 01:37] #110 closed

[2020-09-24 01:37] #124 closed

[2020-09-24 01:37] #106 closed

[2020-09-24 01:37] #26 closed

[2020-09-24 01:37] #76 closed

[2020-09-24 01:37] #1 closed

[2020-09-24 03:41] #146 closed

[2020-09-24 09:44] shraddhavp commented on #150
@HarshCasper  can you please assign this issue to me?

[2020-09-25 01:36] #150 closed

[2020-09-25 01:36] #99 closed

[2020-09-28 06:23] v-sonawane commented on #89
Mentors do let me **know** if any changes required :-)

[2020-09-28 12:03] #168 closed

[2020-09-28 12:23] HarshCasper commented on #123
@nikita-1801 Would you be able to finish it up in 3 Days?

[2020-09-28 15:33] nikita-1801 commented on #123
I'll try my best!

[2020-09-29 01:38] #166 closed

[2020-09-29 06:36] AdityaAshvin opened #178 "Typo in the pull request template"
## Type

Typo

## Description

There is a typo in the pull request template. It should be 'meets' instead of 'mets' in the checklist.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

Yes.

[2020-09-29 11:10] #178 closed

[2020-09-29 11:24] v-sonawane commented on #89
Mentors could you review this PR please.

[2020-09-29 17:37] #89 closed

[2020-09-30 03:38] rutujadhanawade commented on #125
I have made a PR #174 to close this issue and it is merged now.
Please close this issue.

[2020-10-01 01:42] #169 closed

[2020-10-01 01:42] #125 closed

[2020-10-07 01:44] #123 closed

[2021-03-25 04:14] magnojay opened #183 "Clone https://github.com/HarshCasper/Malaria-Detection.git"
## Type

(specify whether it is a bug / new feature / advancement in original)

## Description

(A clear and concise description of what the feature/Bug is.)

## Tools

(required tools / coding languages)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/HakinCodes/Malaria-Detection/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

### Motivation

(Please

[2021-03-25 04:16] #183 closed, assigned to nobody